
/* carrito vacío */
#carrito-empty {
  display: flex; /* Habilita Flexbox */
  flex-direction: column; /* Alinea elementos en columna (si hay más de uno) */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  height: 100%; /* Asegura que ocupe todo el espacio del contenedor */

  text-align: center; /* Asegura que el texto esté centrado si hay varias líneas */
}

#carrito-empty h1 {
  color: rgba(0, 0, 59, 0.71);
  font-size: 1.2rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}



/* Fondo oscuro superpuesto */
#cerrar-carrito {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  z-index: 1000;
  display: none; /* Ocultar por defecto */
}

/*btn*/
.cerrar-carrito {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #00003b;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.cerrar-carrito:hover {
  transform: scale(1.1);
}

#carrito-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background: #fff;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
}

.carrito-header {
  display: flex;
  background-color: #fff;
  padding: 1rem;
  font-weight: bold;
  justify-content: space-between;
  border-bottom: 1px solid #00003b;
}


.carrito-items {
  background-color: white;
  overflow-y: auto;
  padding: 5px;
  height: 65%;
}

.carrito-footer {
  border-top: 1px solid #00003b;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
}

.carrito-footer button {
  display: block;
  width: 70%;
  justify-self: center;
  gap: 20px;
  background-color: #00003b;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  margin-top: 5%;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.carrito-footer button:hover {
  transform: scale(1.02);
}

.carrito-footer button:active {
  transform: scale(1);
}

.vaciar-carrito {
  background-color: #7ca0c0 !important;
}

.carrito-item {
  position: relative;
  display: flex; /* Usamos flexbox */
  justify-content: space-around; /* Espacio entre elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 10px; /* Espacio entre los bloques principales */
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Línea divisoria opcional */
  flex-wrap: nowrap; /* Evita que los elementos se rompan en varias líneas */
}

.cerrar-producto {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #ac9c9c;
  font-size: 0.7rem;
  cursor: pointer;
}

.carrito-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 5px;
  border-radius: 4px; /* Bordes redondeados opcionales */
}

.carrito-item h4 {
  font-size: 16px;
  margin: 0;

}

.carrito-item h5 {
  font-size: 16px;
  margin: 5px 0 0;
}

#items-container {
  padding: 0.8rem 0 0.8rem 0.5rem;
}

.cantidad-container {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  justify-content: space-evenly;
  width: 150px;
}

.cantidad-container button {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.cantidad-container span.cantidad {
  width: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.cantidad-container button:hover {
  background-color: #dddddd;
}

.cantidad-container button:active {
  background-color: #e2e2e2;
}

@media (max-width: 1145px) {
  #carrito-modal {
    width: 45%;
  }
}
@media (max-width: 768px) {
  #carrito-modal {
    width: 55%;
  }
}
@media (max-width: 430px) {
  #carrito-modal {
    width: 85%;
  }
}
@media (max-width: 321px) {
  #carrito-modal {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .carrito-items {
    height: 55% !important;
  }
}

@media (max-width: 360px) {
  .carrito-items {
    height: 60%;
  }
}

@media (min-width: 768px) and (max-width: 884px) {
  .carrito-items {
    height: 72% !important;
  }
}

@media (max-width: 1114px) {
  .carrito-items {
    height: 60%;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .carrito-items {
    height: 70%;
  }
}

@media (min-width: 2100px) and (max-width: 2560px) {
  .carrito-items {
    height: 75%;
  }
}
