/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  padding: 4rem 20px;
  background-color: #00003d;
}

/* Layout principal */
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px;

}

/* Sección de información */
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e1d9;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  height: 500px;
  width: 300px;
}

.info-section p {
  text-align: center;
  padding: 10px 20px;
}

/* Título de la sección */
.info-title {
  font-size: 1.5rem;
  text-align: center;
  color: #00003d;
  padding: 2rem 3rem;
  font-family: "Playfair Display", sans-serif;
}

/* Íconos */
.svg-container svg {
  padding-top: 20%;
  width: 100px;
  height: 100px;
  fill: #00003d;
}

/* Formulario */
.mainformulario {
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  width: 400px;
  height: 500px;
  background-color: #e8e1d9;
}

.mainformulario .formulario {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #e8e1d9;
  justify-content: space-between;
  height: 470px;
  width: 500px;
  font-size: 1rem;
}

/* Inputs */
#name,
#email,
#message,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  resize: none;
}

textarea {
  font-family: "Poppins", sans-serif;
}

#message {
  height: 6rem;
}
.politica-datos label {
  font-size: 0.8rem;
}
/* Mensajes de error y éxito */
.error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}

#successMessage {
  color: green;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}

/* Estilos de los botones */
button {
  display: flex;
  width: 35%;
  height: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
  background-color: #00003d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.styleboton {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  width: 100%; /* Ocupará el 100% del contenedor padre */
  margin-top: 1rem; /* Espacio superior */
}


button:hover {
  background-color: #7ca0c0;
  transform: scale(1.05);
}

button:active {
  background-color: #7ca0c080;
  transform: scale(0.95);
}

/* Validaciones */
input:invalid,
textarea:invalid {
  border: 1px solid red;
}

input:focus:invalid,
textarea:focus:invalid {
  background-color: #b1d1eea0;
}

/* Estilos responsive */

/* Pantallas medianas (tablets, etc.) */
@media (max-width: 768px) {
  .info-section {
    width: 60%;
    border-radius: 10px 0 0 10px;
  }

  .info-title {
    font-size: 1.3rem;
  }

  .svg-container svg {
    width: 80px;
    height: 80px;
  }

  .mainformulario {
    width: 60%;
    padding: 1.5rem;
  }

  .mainformulario .formulario {
    width: 90%;
    font-size: 0.9rem;
    padding: 20px;
  }

  button {
    width: 50%;
    font-size: 0.9rem;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 570px) {
  .row {
    flex-direction: column;
  }
  
  .info-section {
    width: 80%;
    border-radius: 10px 10px 0 0;
    height: 350px;
  }

  .info-section p {
    padding: 3px;
    font-size: 1rem;
  }

  .mainformulario {
    width: 80%;
    border-radius: 0 0 10px 10px;
  }

  .info-title {
    font-size: 1.6rem;
  }

  .svg-container svg {
    width: 70px;
    height: 70px;
  }

  .mainformulario .formulario {
    width: 100%;
    font-size: 0.8rem;
    padding: 15px;
  }

  #name,
  #email,
  #message,
  textarea {
    font-size: 0.8rem;
  }

  button {
    width: 60%;
    font-size: 0.8rem;
  }

  .politica-datos {
    grid-template-columns: 1fr;
    gap: 3px;
  }

  .politica-datos label {
    font-size: 10px;
  }
}

@media (max-width: 425px){
  
  .row {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }

  .info-section {
    width: 367px;
    height: 9rem;
    border-radius: 10px 10px 0px 0px;
  }
  .info-title {
    font-size: 10rem;
  }

  .info-section p{
    padding: 3px; 
    font-size: 12px; 
  }
  .mainformulario{
    border-radius: 0px 0px 10px 10px;
  }
  .info-title {
    font-size: 1rem;

  }
  
  .svg-container svg {
    visibility: hidden;
    height: 0px;
  }

  .mainformulario {
    border-radius: 0px 0px 10px 10px;
  }

}