/* Css de la seccion 'footer' */
.footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    background-color: #00003B;
    color: #E8E1D9;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Seccion de informacion de redes sociales */
  .footer-info-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    background-color: #7CA0C0;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-info-title {
    font-size: 50px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    font-family: "Mollie Glaston", sans-serif;
    font-weight: 600;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .footer-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .footer-info-container a {
    color: inherit;
    font-size: 80px;
    text-decoration: none;
  }
  
  .footer-info-container a:hover {
    color: #00003B;
  }
  
  /* Secccion de newsletter - suscripcion a informacion */
  .footer-newsletter-container {
    padding: 20px;
    max-width: 300px;
    margin-right: 20px;
  }
  
  .footer-newsletter-container form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  
  .footer-newsletter-container form p {
    font-size: 20px;
    padding-bottom: 10px;
  }
  
  /* Estilos específicos para el input del email-newsletter */
  #email-newsletter {
    margin-bottom: 10px;
    padding: 10px;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc; /* Borde estándar */
    font-size: 1rem;
  }
  
  /* Asegurarse de que el borde rojo no afecte al input de la newsletter */
  #email-newsletter:focus:invalid {
    border: 1px solid #ccc; /* Establecer un borde normal al hacer foco */
    background-color: #fff; /* Fondo normal */
  }
  
  /* Si el input es válido, establecer borde normal */
  #email-newsletter:valid {
    border: 1px solid #ccc;
    background-color: #e8e1d9; /* Fondo normal */
  }
  
  /* Estilo del boton */
  .footer-newsletter-container button {
    background-color: #7CA0C0;
    box-shadow: none;
    border: none;
    padding: 5px;
    width: 100%;
    color: #E8E1D9;
    border-radius: 8px;
  }
  
  .footer-newsletter-container button:hover {
    background-color: #7CA0C080;
  }
  /* Ajustes para el textarea de newsletter */
.footer-newsletter-container textarea {
    margin-bottom: 10px !important;
    padding: 10px !important;
    width: 100% !important;
    max-width: 100% !important; /* Asegura que no se salga de su contenedor */
    border-radius: 8px !important;
    border: 1px solid #ccc !important;
    font-size: 1rem !important;
    box-sizing: border-box !important; /* Asegura que el padding no incremente el ancho total */
  }
  
  
  /* Seccion de logo - informacion */
  .footer-final-section {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  
  .footer-logo-container img {
    max-width: 200px;
    height: auto;
    padding: 20px;
  }
  
  /* Seccion de informacion final - logo - acceso a otras partes de la pagina */
  .footer-final-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  
  .footer-elements-container {
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .footer-elements-list {
    list-style: none;
    margin-top: 20px;  
    margin-bottom: 20px;
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
  }
  
  .footer-elements p {
    font-size: 50px;
    padding-bottom: 25px;
    font-family: "Mollie Glaston", sans-serif;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
  }
  
  .footer-elements-list li a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
  }
  
  .footer-elements-list li a:hover {
    text-decoration: underline;
    color: #7CA0C0;
  }
  
  /* Seccion todos los derechos reservados */
  .footer-bottom-section {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .back-to-top-button {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  /* Footer = Media queries responsive */
  @media (max-width: 928px) {
    .footer-newsletter-container {
      margin-right: 10px;
    }
  
    .footer-final-section {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
      grid: 20px;
    }
  
    .footer-info-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
    }
  }
  
  @media (max-width: 550px) {
    .footer-info-container a {
      font-size: 55px;
    }
  
    .footer-final-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-newsletter-container {
      max-width: 80%;
      margin-right: 0px;
    }
  
    .footer-info-container {
      flex-direction: column;
      align-items: center;
    }
  }
  